.topnav {
  background-color:gray;
  overflow: hidden;
}

.topnav a {
  float: left;
  color:whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover{
  background-color:antiquewhite;
  color:white;
}

.topnav a.active {
  color:beige;
  
}


body {
  background-color:black;
}



header {
  font-size:50px;
  text-align:center;
  color:whitesmoke;
}



h1 { 
  font-size:30px;
  text-align:center;
  color:whitesmoke;
}

p {
  font-size:20px;
  text-align:center;
  color:whitesmoke;
}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}