.topnav {
  background-color:gray;
  overflow: hidden;
}

.topnav a {
  float: left;
  color:whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

}

.topnav a:hover{
<<<<<<< HEAD
  background-color:#ddd;
  color:black

=======
  background-color:antiquewhite;
  color:white;
>>>>>>> 9bd410c91df12b32411c9aa4d5489c9411df0657
}

.topnav a.active {
  color:beige;
  
}


body {
  background-color:black;
}



header {
  font-size:50px;
  text-align:center;
  color:whitesmoke;
}



h1 { 
  font-size:40px;
  text-align:center;
  color:whitesmoke;
}

p {
  font-size:20px;
  text-align:center;
  color:whitesmoke;
}

p{
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  font-family: cursive;
}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}